body {
    padding-top: 40px;
}
.container > footer p {
    text-align: center;
}
.container {
    width: 820px;
}

.chart {
    height: 400px !important;
}

.chart > div {
    height: 100%;
}

.stats > .active {
    background-color: #EDEDED;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

footer{
    text-align: center;
    margin-top: 20px;
}


.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}


.content .span10,
.content .span4 {
    min-height: 500px;
}


.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}

#main {
    position: relative;
    overflow: hidden;
}

#onError {
    display: none;
}

#logs {
    overflow: auto;
    height: 500px;
}

#logs .list, #components{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.log {
    padding: 4px 0;
    border-bottom: 1px solid #eee;
}

.log:nth-child(even){
    background-color: #f5f5f5;
}

.log span {
    display: inline-block;
}

.log .type {
    font-weight: bold;
}

.log.join, .log.quit {
    background: #D9E7FB;
}

td{
    white-space: pre;
}

#filter-buttons .btn{
    margin-right: 10px;
}

.jpregel-logo{
    margin: 0 auto;
    display: block;
}


.stats-plain li.active{
    padding: 10px;
    background-color: #e5e5e5;
    border: 1px solid #cdcdcd;
}

#header img{
    padding-left: 10px;
    width: 200px;
}

.version {
    position: absolute;
    right: 10px;
    top: 10px;
}

