@(component: Component)
@main(navLoc = component.componentType.toString()) {
  <div id="content-header">
    <h1>@component.componentName</h1>

  </div>
  <div id="breadcrumb">
    <a href="#" title="Jobs" class="tip-bottom"><i class="icon-home"></i> Jobs</a>
    <a href="#" class="current">@component.componentName</a>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
        <div data-component='@component.id' class="span12 stats-holder">

        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 chart-holder">

        </div>
    </div>
    <div class="row-fluid">
        <div data-component='@component.id' class="span12 log-holder">

        </div>
    </div>
  </div>
  <script>
    var PAGE_SCRIPT = "component";
  </script>
}

