@(components: java.util.List[Component], title: String)
@main(navLoc = title.toLowerCase()) {
    <div id="content-header">
      <h1>@title</h1>
      <div class="btn-group">
          <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
      </div>
    </div>
    <div id="breadcrumb">
      <a href="/" title="Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
      <a href="#" class="current">@title</a>
    </div>
    <div class="container-fluid">

      @if(components.size() == 0){
      <div class="row-fluid">
      <div class="span12">
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Oh No!</strong> There are no @title.toLowerCase to display.
      </div>
      </div>
      </div>
      } else{
      <div class="widget-box">
        <div class="widget-title">
            <h5>@title</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered">
                <thead>
                <tr>
                <th>Name</th>
                <th>ID</th>
                </tr>
                </thead>
                <tbody>
                  @for(component <- components){
                    <tr class="gradeX">
                    <td><a href="@routes.Application.computer(component.id)" title="">@component.componentName</a></td>
                    <td>@component.id</td>
                    </tr>
                  }
                </tbody>
            </table>
        </div>
      </div>
      }
    </div>
}
