
@main() {

    @if(flash.containsKey("error")) {

        <div class="alert alert-error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>

    }

    <div class="alert">
        <p>
            <strong>Welcome to Pheme!</strong>
            Use the nav at the top to command your jPregel cluster.
        </p>
    </div>
    <img class="jpregel-logo" width="600px" src="http://charlesmunger.github.com/jpregel-aws/images/graph_usairways_bundled.jpeg">

}
