
@main(null) {

    @if(flash.containsKey("error")) {

        <div class="alert alert-error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>

    }

    <div class="alert">
        <p>
            <strong>Welcome to jPregel WebAdmin!</strong>
            Start jPregel with the button on the top right.
        </p>
    </div>
    <img class="jpregel-logo" width="600px" src="http://charlesmunger.github.com/jpregel-aws/images/graph_usairways_bundled.jpeg">

}
